<br>

<div class="title-line3"></div>
<a href="#" class="set-page-magazine" data-page="3"><h5 style="padding-left: 50px">Editorial</h5></a>
<div class="title-line3"></div>
<a href="#" class="set-page-magazine" data-page="5"><h5 style="padding-left: 50px">Índice</h5></a>
<div class="title-line3"></div>
<a href="#" class="set-page-magazine" data-page="6"><h5 style="padding-left: 50px" >El Verdadero Costo de Bitcoin</h5></a>
<div class="title-line3"></div>
<a href="#" class="set-page-magazine" data-page="10"><h5 style="padding-left: 50px">Servicio al cliente una cuestión de empatía</h5></a>
<div class="title-line3"></div>
<a href="#" class="set-page-magazine" data-page="12"><h5 style="padding-left: 50px">Marketing de género, cómo vender a hombres y mujeres</h5></a>
<div class="title-line3"></div>
<a href="#" class="set-page-magazine" data-page="14"><h5 style="padding-left: 50px">Mercadotecnia Sustentable</h5></a>
<div class="title-line3"></div>
<a href="vendedor.html" class="set-page-magazine" data-page="20"><h5 style="padding-left: 50px">¿Qué significa observar y escuchar para un vendedor?</h5></a>
<div class="title-line3"></div>
<a href="influencers.html" class="set-page-magazine" data-page="24"><h5 style="padding-left: 50px">Marketing de influencers: Imparable</h5></a>
<div class="title-line3"></div>
<a href="preguntasSlim.html" class="set-page-magazine" data-page="26"><h5 style="padding-left: 50px">4 preguntas a Carlos Slim</h5></a>
<div class="title-line3"></div>
<a href="podervsfuerza.html" class="set-page-magazine" data-page="32"><h5 style="padding-left: 50px">El poder frente a la fuerza</h5></a>
<div class="title-line3"></div>
<a href="bigdata.html" class="set-page-magazine" data-page="36"><h5 style="padding-left: 50px">¿Cómo Big Data aporta valor a tu negocio?</h5></a>
<div class="title-line3"></div>
<a href="staruplat.html" class="set-page-magazine" data-page="38"><h5 style="padding-left: 50px">Startups en Latinoamérica</h5></a>
<div class="title-line3"></div>
<a href="sitioweb.html" class="set-page-magazine" data-page="42"><h5 style="padding-left: 50px">La fórmula ideal para obtener el sitio web perfecto</h5></a>
<div class="title-line3"></div>
<a href="economiacomp.html" class="set-page-magazine" data-page="46"><h5 style="padding-left: 50px">Economía del comportamiento</h5></a>
<div class="title-line3"></div>

<br>
<br>
<center><a href="poder-y-finanzas-nov-18.pdf" class="btn-primary" download="poder-y-finanzas-nov-18.pdf">Descarga la revista</a><br></center>
